*.class
*.log

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

/project/project/**
/project/target/
/.scalafmt.conf.etag
.metals/
.vscode/
.bloop/
/.bsp/
!.idea/runConfigurations/
!.idea/dictionaries
/.idea/**
/target
**/.DS_Store
.DS_Store
